.header{

  position: relative;
  background-color: white;
  z-index: 100;

}

.headerFlex{
  margin: auto;
  display: flex;
  list-style: none;
  margin: auto;
  display: flex;
  padding: 0;
  list-style: none;
}

.logo{
  height: 100px;
}

.logoContainer{
  width: 100%;
  text-align: center;
}


.backgroundImageContainer {
  width: 100%;
  position: relative;
  top: -113px;
}

.backgroundImage {
  width: 100%;
}