.backgroundImageContainer {
  background: url(../pictures/3_Mole.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

html {
  height: 100%;
}
body {
  height: 100%;
}
#root {
  height: 100%;
}
.App {
  height: 100%;
}
.gameLink{
  z-index:10;
}

.loginContainer
{
  margin-top: 10%;
  height: 100%;
}

.backgroundImageContainer {
  width: 100%;
  position: relative;
  top: -113px;
}

.backgroundImageContainer a {
  position: relative;
  top: 20%;
}

.backgroundImage {
  width: 100%;
}

.navbar {
  background-color: white;
  z-index: 10;
}

.navbar img {
  text-align: center;
  width: 100px;
  height: 80px;
}

#navbarContainer {
  display: flex;
  width: 100%;
}

#logoContainer {
  width: 100%;
  text-align: center;
}

#logoContainer a {
  font-size: x-large;  
  color: black;
}

.routerContainer {
  height: 100%;
}
