
html {
  height: 100%;
}
body {
  height: 100%;
}
#root {
  height: 100%;
}
.App {
  height: 100%;
}
.gameLink{
  z-index:10;
}

.loginContainer
{
  margin-top: 10%;
  height: 100%;
}

.routerContainer {
  height: 100%;
}






