.roomContent
{
  list-style: none;
  top: 0;
  position: relative;
  padding: unset;
  background-color: darkolivegreen;
  text-align: center;
  height: 100%;
  margin: 0;
}

.roomContent > div {
  width: 100%;
}

.gameBtn
{
    background-color: peru;
    width: 40%;
    height: 50px;

}

.gameContainer p {
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  font-size: 30px;
  color: white;
}

.gameContainer{
  height: 100%;
  width: 60%;
  border: 4px solid #996633;
  background-color: darkolivegreen;
  margin: auto;
}

.gameContainer > div{
  height: 100%;
  text-align: center;
      
}

.gameContainer > div > div{
  height: 100%;
  text-align: center;
      
}

.containerPrincipal{
  margin-top:113px;
  height:90%;
  text-align: center;
}